In [ ]:
import numpy as np
import pandas as pd
import openpyxl
from openpyxl import load_workbook

In [ ]:
site='forbes'

In [ ]:
excel_file = f'./articles/{site}.xlsx' 
wb = load_workbook(excel_file, data_only = True)
sh = wb['Sheet1']
# extract color from column A.
w = [cell.fill.start_color.index for cell in sh['W:W']]
x = [cell.fill.start_color.index for cell in sh['X:X']]
y = [cell.fill.start_color.index for cell in sh['Y:Y']]
z = [cell.fill.start_color.index for cell in sh['Z:Z']]
aa = [cell.fill.start_color.index for cell in sh['AA:AA']]

In [ ]:
columns = next(sh.values)[0:]

In [ ]:
df = pd.DataFrame(sh.values,columns=columns)

In [ ]:
df=df.iloc[1:]

In [ ]:
df['c1']=w[1:]
df['c2']=x[1:]
df['c3']=y[1:]
df['c4']=z[1:]
df['c5']=aa[1:]

In [ ]:
df=df.dropna(subset=['id'])

In [ ]:
df['sel']=np.where(df[['sustainability','mobility','migration','equality','accessibility']].sum(axis=1)>=1,1,0)

In [ ]:
df[['c1','c2','c3','c4','c5']]=df[['c1','c2','c3','c4','c5']].replace({'00000000':0,'FFB7E1CD':1,'FF00FF00':1})

In [ ]:
df['col']=np.where(df[['c1','c2','c3','c4','c5']].sum(axis=1)>=1,1,0)

In [ ]:
df['selfin']=np.where((df[['sel','col']].sum(axis=1)>=1)&(df['url']),1,0)

In [ ]:
df[df['selfin']==1].sample(n=10,random_state=2).to_excel(f'./articles/selected/{site}_selected.xlsx')

In [ ]:
df[df['selfin']==1].sample(n=10,random_state=2)

,NaN,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,entities,id,public_metrics,reply_settings,author_id,conversation_id,...,equality,accessibility,c1,c2,c3,c4,c5,sel,col,selfin
35,15780.0,15780.0,19332.0,90.0,"{'urls': [{'start': 232, 'end': 255, 'url': 'h...",1295131338408955904.0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,1027830048496050048.0,1295131338408955904.0,...,False,False,0,0,0,0,0,1,0,1
75,135142.0,39728.0,68015.0,37.0,"{'annotations': [{'start': 0, 'end': 4, 'proba...",1290274615835495936.0,"{'retweet_count': 4, 'reply_count': 0, 'like_c...",everyone,1276177187322946048.0,1290274615835495936.0,...,False,False,0,0,0,0,0,1,0,1
38,89591.0,89591.0,114296.0,24.0,"{'hashtags': [{'start': 199, 'end': 211, 'tag'...",1273901921389228032.0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,999625571188518784.0,1273901921389228032.0,...,False,False,0,0,0,0,0,1,0,1
32,73844.0,73844.0,94676.0,54.0,"{'urls': [{'start': 242, 'end': 265, 'url': 'h...",1395405260001219072.0,"{'retweet_count': 3, 'reply_count': 0, 'like_c...",everyone,144494566.0,1395405260001219072.0,...,False,False,0,0,0,0,0,1,0,1
42,96237.0,823.0,961.0,63.0,"{'annotations': [{'start': 80, 'end': 90, 'pro...",1509968028221509888.0,"{'retweet_count': 8, 'reply_count': 3, 'like_c...",everyone,59469228.0,1509968028221509888.0,...,False,False,0,0,0,0,0,1,0,1
30,105614.0,10200.0,13087.0,26.0,"{'hashtags': [{'start': 51, 'end': 63, 'tag': ...",1240200441184517888.0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,728441661429141504.0,1240200441184517888.0,...,False,False,0,0,0,0,0,1,0,1
14,79942.0,79942.0,101960.0,21.0,"{'mentions': [{'start': 17, 'end': 24, 'userna...",1356276004000567040.0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,2405801429.0,1356276004000567040.0,...,False,False,0,0,0,0,0,1,0,1
1,43860.0,43860.0,57516.0,29.0,"{'urls': [{'start': 225, 'end': 248, 'url': 'h...",1521124903793082112.0,"{'retweet_count': 4, 'reply_count': 0, 'like_c...",everyone,301136994.0,1521124903793082112.0,...,False,False,0,0,0,0,0,1,0,1
62,74558.0,74558.0,95502.0,88.0,"{'urls': [{'start': 148, 'end': 171, 'url': 'h...",1390788536559836928.0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,1371070729.0,1390788536559836928.0,...,False,False,0,0,0,0,0,1,0,1
57,15932.0,15932.0,19500.0,59.0,"{'urls': [{'start': 76, 'end': 99, 'url': 'htt...",1293032649884200960.0,"{'retweet_count': 4, 'reply_count': 2, 'like_c...",everyone,62859704.0,1293032649884200960.0,...,False,False,0,1,0,0,0,0,1,1

1786.0

5200