In [ ]:
import numpy as np
import pandas as pd
# import newspaper
# from newspaper import Article
from time import sleep
import requests
import json
import glob
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
bearer_token=''

In [ ]:
search_url = "https://api.twitter.com/2/tweets/search/all"

In [ ]:
fields='attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,id,in_reply_to_user_id,lang,public_metrics,possibly_sensitive,referenced_tweets,reply_settings,source,text,withheld'

In [ ]:
def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers


def connect_to_endpoint(url, headers, params):
    response = requests.request("GET", search_url, headers=headers, params=params)
#     print(response.status_code)
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()


def main():
    headers = create_headers(bearer_token)
    json_response = connect_to_endpoint(search_url, headers, query_params)
    #print(json.dumps(json_response, indent=4, sort_keys=True))
    return json_response

In [ ]:
# 
umb0='''mobility technology
inequality technology
equality technology
accessibility technology
migration technology
sustainability technology'''.split('\n')

umb1='''mobility 5g
inequality 5g
equality 5g
accessibility 5g
sustainability 5g'''.split('\n')

umb2='''mobility iot
inequality iot
equality iot
accessibility iot
migration iot
sustainability iot'''.split('\n')

umb3='''mobility metaverse
inequality metaverse
equality metaverse
accessibility metaverse
sustainability metaverse'''.split('\n')

umb3='''mobility ai
inequality ai
equality ai
accessibility ai
migration ai
sustainability ai'''.split('\n')

end_time='2022-06-01T00:00:00z'
start_time='2020-01-01T00:00:00z'
max_results='100'

In [ ]:
path='./umb3/'

for keyw in umb3:
    next_page=True
    query='{} lang:en -is:retweet -is:reply has:links -has:media'.format(keyw)
    df=pd.DataFrame()
    query_params = {'query': query,'tweet.fields':fields, 'end_time':end_time,'start_time':start_time, 'max_results':max_results}
    j=0
    while next_page is True:
        try:
            json_response=main()
        except:
            counter=0
            while counter<3:
                sleep(30)
                try: 
                    json_response=main()
                    counter=3
                except:
                    counter=counter+1
        df=df.append(pd.DataFrame(json_response['data']))
        print('df:'+str(len(df)))
        print(df['created_at'][-1:])
        if 'next_token' in json_response['meta'].keys() and json_response['meta']['result_count']!=0:
                    next_page=True
                    next_token=json_response['meta']['next_token']
                    sleep(2)
                    query_params = {'query': query,'tweet.fields':fields, 'end_time':end_time,'start_time':start_time, 'max_results':max_results,
                                    'next_token':next_token, 
                                    }
        else:
            next_page=False
        if len(df)>100000:
            df.to_csv2(path+query.split('lang')[0].strip()+'_'+str(j)+'.csv')
            j=j+1
            df=pd.DataFrame()
        if j==5:
            next_page=False

    df.to_csv(path+query.split('lang')[0].strip()+'_'+str(j)+'.csv')

all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0,lineterminator='\n')
    li.append(df)

dfm = pd.concat(li, axis=0, ignore_index=True)
dfm.to_csv(path+'all.csv')

df:99
98    2022-05-26T03:04:00.000Z
Name: created_at, dtype: object
df:199
99    2022-05-19T07:37:11.000Z
Name: created_at, dtype: object
df:299
99    2022-05-13T06:40:53.000Z
Name: created_at, dtype: object
df:399
99    2022-05-07T02:30:05.000Z
Name: created_at, dtype: object
df:499
99    2022-05-03T21:02:48.000Z
Name: created_at, dtype: object
df:599
99    2022-04-29T14:05:45.000Z
Name: created_at, dtype: object
df:699
99    2022-04-23T15:04:12.000Z
Name: created_at, dtype: object
df:799
99    2022-04-13T15:18:59.000Z
Name: created_at, dtype: object
df:898
98    2022-04-06T12:25:52.000Z
Name: created_at, dtype: object
df:997
98    2022-03-30T20:32:56.000Z
Name: created_at, dtype: object
df:1096
98    2022-03-23T18:08:34.000Z
Name: created_at, dtype: object
df:1196
99    2022-03-16T11:15:33.000Z
Name: created_at, dtype: object
df:1296
99    2022-03-08T21:55:29.000Z
Name: created_at, dtype: object
df:1396
99    2022-02-27T01:06:20.000Z
Name: created_at, dtype: object
df:1496
99    2022-02-17T14:47:01.000Z
Name: created_at, dtype: object
df:1596
99    2022-02-09T18:08:52.000Z
Name: created_at, dtype: object
df:1696
99    2022-02-02T22:49:59.000Z
Name: created_at, dtype: object
df:1796
99    2022-01-27T08:53:17.000Z
Name: created_at, dtype: object
df:1896
99    2022-01-20T09:39:56.000Z
Name: created_at, dtype: object
df:1996
99    2022-01-13T07:39:28.000Z
Name: created_at, dtype: object
df:2096
99    2022-01-06T14:59:54.000Z
Name: created_at, dtype: object
df:2196
99    2021-12-28T23:54:06.000Z
Name: created_at, dtype: object
df:2296
99    2021-12-20T13:31:00.000Z
Name: created_at, dtype: object
df:2394
97    2021-12-14T19:01:19.000Z
Name: created_at, dtype: object
df:2493
98    2021-12-08T19:54:48.000Z
Name: created_at, dtype: object
df:2593
99    2021-12-01T17:15:22.000Z
Name: created_at, dtype: object
df:2692
98    2021-11-24T14:18:00.000Z
Name: created_at, dtype: object
df:2792
99    2021-11-17T11:43:02.000Z
Name: created_at, dtype: object
df:2892
99    2021-11-15T15:00:02.000Z
Name: created_at, dtype: object
df:2992
99    2021-11-12T14:01:32.000Z
Name: created_at, dtype: object
df:3091
98    2021-11-10T00:07:26.000Z
Name: created_at, dtype: object
df:3191
99    2021-11-07T07:05:29.000Z
Name: created_at, dtype: object
df:3290
98    2021-11-04T07:24:01.000Z
Name: created_at, dtype: object
df:3390
99    2021-11-01T21:16:26.000Z
Name: created_at, dtype: object
df:3490
99    2021-10-29T21:16:36.000Z
Name: created_at, dtype: object
df:3590
99    2021-10-25T07:03:45.000Z
Name: created_at, dtype: object
df:3690
99    2021-10-14T23:25:05.000Z
Name: created_at, dtype: object
df:3790
99    2021-10-06T17:15:31.000Z
Name: created_at, dtype: object
df:3887
96    2021-09-27T22:22:34.000Z
Name: created_at, dtype: object
df:3986
98    2021-09-18T00:46:54.000Z
Name: created_at, dtype: object
df:4086
99    2021-09-13T01:00:00.000Z
Name: created_at, dtype: object
df:4186
99    2021-09-07T09:44:00.000Z
Name: created_at, dtype: object
df:4286
99    2021-08-30T19:40:01.000Z
Name: created_at, dtype: object
df:4386
99    2021-08-24T07:44:57.000Z
Name: created_at, dtype: object
df:4485
98    2021-08-17T00:55:00.000Z
Name: created_at, dtype: object
df:4585
99    2021-08-09T20:01:26.000Z
Name: created_at, dtype: object
df:4684
98    2021-08-02T09:08:33.000Z
Name: created_at, dtype: object
df:4784
99    2021-07-25T10:38:54.000Z
Name: created_at, dtype: object
df:4884
99    2021-07-16T18:09:19.000Z
Name: created_at, dtype: object
df:4982
97    2021-07-08T16:41:02.000Z
Name: created_at, dtype: object
df:5082
99    2021-07-02T00:59:20.000Z
Name: created_at, dtype: object
df:5182
99    2021-06-24T08:25:19.000Z
Name: created_at, dtype: object
df:5282
99    2021-06-20T13:25:03.000Z
Name: created_at, dtype: object
df:5382
99    2021-06-15T07:13:27.000Z
Name: created_at, dtype: object
df:5477
94    2021-06-11T17:17:24.000Z
Name: created_at, dtype: object
df:5577
99    2021-06-07T23:25:02.000Z
Name: created_at, dtype: object
df:5676
98    2021-06-01T05:52:29.000Z
Name: created_at, dtype: object
df:5775
98    2021-05-23T19:57:22.000Z
Name: created_at, dtype: object
df:5869
93    2021-05-18T23:15:34.000Z
Name: created_at, dtype: object
df:5967
97    2021-05-14T07:57:34.000Z
Name: created_at, dtype: object
df:6064
96    2021-05-10T07:09:57.000Z
Name: created_at, dtype: object
df:6153
88    2021-05-06T18:15:43.000Z
Name: created_at, dtype: object
df:6247
93    2021-05-03T06:34:06.000Z
Name: created_at, dtype: object
df:6347
99    2021-04-25T17:17:22.000Z
Name: created_at, dtype: object
df:6446
98    2021-04-20T11:00:01.000Z
Name: created_at, dtype: object
df:6545
98    2021-04-11T18:23:13.000Z
Name: created_at, dtype: object
df:6645
99    2021-04-02T11:12:24.000Z
Name: created_at, dtype: object
df:6743
97    2021-03-26T21:22:14.000Z
Name: created_at, dtype: object
df:6841
97    2021-03-18T21:38:05.000Z
Name: created_at, dtype: object
df:6941
99    2021-03-12T16:49:04.000Z
Name: created_at, dtype: object
df:7040
98    2021-03-07T20:00:00.000Z
Name: created_at, dtype: object
df:7139
98    2021-03-02T11:34:38.000Z
Name: created_at, dtype: object
df:7239
99    2021-02-24T14:02:00.000Z
Name: created_at, dtype: object
df:7337
97    2021-02-18T17:23:43.000Z
Name: created_at, dtype: object
df:7436
98    2021-02-13T13:35:03.000Z
Name: created_at, dtype: object
df:7536
99    2021-02-07T09:00:47.000Z
Name: created_at, dtype: object
df:7636
99    2021-01-30T09:30:02.000Z
Name: created_at, dtype: object
df:7735
98    2021-01-25T04:28:07.000Z
Name: created_at, dtype: object
df:7833
97    2021-01-19T14:32:24.000Z
Name: created_at, dtype: object
df:7931
97    2021-01-18T07:48:11.000Z
Name: created_at, dtype: object
df:8030
98    2021-01-11T18:05:10.000Z
Name: created_at, dtype: object
df:8125
94    2021-01-05T10:23:20.000Z
Name: created_at, dtype: object
df:8207
81    2020-12-28T18:51:08.000Z
Name: created_at, dtype: object
df:8307
99    2020-12-18T18:57:09.000Z
Name: created_at, dtype: object
df:8405
97    2020-12-11T16:36:20.000Z
Name: created_at, dtype: object
df:8504
98    2020-12-04T21:50:48.000Z
Name: created_at, dtype: object
df:8603
98    2020-11-27T23:48:15.000Z
Name: created_at, dtype: object
df:8702
98    2020-11-22T15:20:32.000Z
Name: created_at, dtype: object
df:8800
97    2020-11-17T17:15:26.000Z
Name: created_at, dtype: object
df:8900
99    2020-11-11T11:23:22.000Z
Name: created_at, dtype: object
df:9000
99    2020-11-05T11:00:33.000Z
Name: created_at, dtype: object
df:9100
99    2020-10-30T07:05:41.000Z
Name: created_at, dtype: object
df:9199
98    2020-10-22T19:12:31.000Z
Name: created_at, dtype: object
df:9297
97    2020-10-16T20:02:08.000Z
Name: created_at, dtype: object
df:9397
99    2020-10-13T08:01:19.000Z
Name: created_at, dtype: object
df:9497
99    2020-10-07T11:38:40.000Z
Name: created_at, dtype: object
df:9596
98    2020-10-01T15:04:16.000Z
Name: created_at, dtype: object
df:9693
96    2020-09-27T14:25:27.000Z
Name: created_at, dtype: object
df:9793
99    2020-09-22T14:50:27.000Z
Name: created_at, dtype: object
df:9893
99    2020-09-18T03:40:02.000Z
Name: created_at, dtype: object
df:9993
99    2020-09-14T17:16:02.000Z
Name: created_at, dtype: object
df:10092
98    2020-09-10T04:16:32.000Z
Name: created_at, dtype: object
df:10192
99    2020-09-05T03:53:52.000Z
Name: created_at, dtype: object
df:10290
97    2020-08-31T20:39:02.000Z
Name: created_at, dtype: object
df:10390
99    2020-08-26T13:03:22.000Z
Name: created_at, dtype: object
df:10490
99    2020-08-21T12:28:13.000Z
Name: created_at, dtype: object
df:10590
99    2020-08-15T06:37:00.000Z
Name: created_at, dtype: object
df:10684
93    2020-08-11T16:37:18.000Z
Name: created_at, dtype: object
df:10784
99    2020-08-05T18:34:35.000Z
Name: created_at, dtype: object
df:10884
99    2020-07-30T21:42:08.000Z
Name: created_at, dtype: object
df:10984
99    2020-07-24T15:54:34.000Z
Name: created_at, dtype: object
df:11084
99    2020-07-20T09:31:05.000Z
Name: created_at, dtype: object
df:11183
98    2020-07-15T07:55:14.000Z
Name: created_at, dtype: object
df:11283
99    2020-07-10T22:04:01.000Z
Name: created_at, dtype: object
df:11381
97    2020-07-08T12:42:59.000Z
Name: created_at, dtype: object
df:11481
99    2020-07-01T14:01:08.000Z
Name: created_at, dtype: object
df:11580
98    2020-06-25T07:11:01.000Z
Name: created_at, dtype: object
df:11679
98    2020-06-19T12:31:04.000Z
Name: created_at, dtype: object
df:11777
97    2020-06-12T18:47:38.000Z
Name: created_at, dtype: object
df:11877
99    2020-06-07T14:33:18.000Z
Name: created_at, dtype: object
df:11977
99    2020-06-01T12:31:00.000Z
Name: created_at, dtype: object
df:12077
99    2020-05-25T05:17:59.000Z
Name: created_at, dtype: object
df:12177
99    2020-05-19T11:26:32.000Z
Name: created_at, dtype: object
df:12276
98    2020-05-14T06:14:27.000Z
Name: created_at, dtype: object
df:12374
97    2020-05-08T08:40:10.000Z
Name: created_at, dtype: object
df:12472
97    2020-05-01T13:05:19.000Z
Name: created_at, dtype: object
df:12570
97    2020-04-24T09:26:56.000Z
Name: created_at, dtype: object
df:12670
99    2020-04-18T03:05:31.000Z
Name: created_at, dtype: object
df:12769
98    2020-04-09T14:10:18.000Z
Name: created_at, dtype: object
df:12868
98    2020-04-02T20:59:01.000Z
Name: created_at, dtype: object
df:12963
94    2020-03-27T19:48:07.000Z
Name: created_at, dtype: object
df:13061
97    2020-03-20T14:54:37.000Z
Name: created_at, dtype: object
df:13159
97    2020-03-11T22:59:10.000Z
Name: created_at, dtype: object
df:13259
99    2020-03-05T13:59:03.000Z
Name: created_at, dtype: object
df:13358
98    2020-02-28T15:50:54.000Z
Name: created_at, dtype: object
df:13458
99    2020-02-22T22:04:10.000Z
Name: created_at, dtype: object
df:13557
98    2020-02-18T03:00:04.000Z
Name: created_at, dtype: object
df:13657
99    2020-02-11T15:50:51.000Z
Name: created_at, dtype: object
df:13756
98    2020-02-05T17:05:50.000Z
Name: created_at, dtype: object
df:13856
99    2020-01-30T19:53:57.000Z
Name: created_at, dtype: object
df:13956
99    2020-01-23T17:35:03.000Z
Name: created_at, dtype: object
df:14056
99    2020-01-15T17:17:25.000Z
Name: created_at, dtype: object
df:14156
99    2020-01-09T08:33:12.000Z
Name: created_at, dtype: object
df:14255
98    2020-01-04T04:15:44.000Z
Name: created_at, dtype: object
df:14289
33    2020-01-01T10:42:42.000Z
Name: created_at, dtype: object
df:98
97    2022-04-29T07:24:13.000Z
Name: created_at, dtype: object
df:198
99    2022-04-20T08:47:24.000Z
Name: created_at, dtype: object
df:298
99    2022-04-12T08:00:03.000Z
Name: created_at, dtype: object
df:397
98    2022-03-07T19:21:17.000Z
Name: created_at, dtype: object
df:497
99    2022-02-17T18:33:56.000Z
Name: created_at, dtype: object
df:597
99    2022-01-18T08:34:44.000Z
Name: created_at, dtype: object
df:696
98    2021-12-08T14:15:00.000Z
Name: created_at, dtype: object
df:796
99    2021-11-16T17:35:01.000Z
Name: created_at, dtype: object
df:896
99    2021-10-22T05:43:01.000Z
Name: created_at, dtype: object
df:995
98    2021-10-20T06:00:25.000Z
Name: created_at, dtype: object
df:1094
98    2021-09-21T09:45:40.000Z
Name: created_at, dtype: object
df:1194
99    2021-09-13T17:56:31.000Z
Name: created_at, dtype: object
df:1293
98    2021-08-05T13:23:51.000Z
Name: created_at, dtype: object
df:1393
99    2021-07-30T16:00:34.000Z
Name: created_at, dtype: object
df:1491
97    2021-07-05T11:44:33.000Z
Name: created_at, dtype: object
df:1591
99    2021-06-17T18:39:59.000Z
Name: created_at, dtype: object
df:1690
98    2021-05-24T00:15:00.000Z
Name: created_at, dtype: object
df:1790
99    2021-04-24T06:10:37.000Z
Name: created_at, dtype: object
df:1888
97    2021-03-29T17:55:13.000Z
Name: created_at, dtype: object
df:1988
99    2021-03-16T11:08:23.000Z
Name: created_at, dtype: object
df:2084
95    2021-02-25T20:00:02.000Z
Name: created_at, dtype: object
df:2180
95    2021-02-08T18:21:24.000Z
Name: created_at, dtype: object
df:2274
93    2021-02-04T21:02:34.000Z
Name: created_at, dtype: object
df:2373
98    2021-01-16T06:40:38.000Z
Name: created_at, dtype: object
df:2471
97    2020-12-18T11:57:57.000Z
Name: created_at, dtype: object
df:2570
98    2020-12-05T08:18:42.000Z
Name: created_at, dtype: object
df:2665
94    2020-11-19T16:02:01.000Z
Name: created_at, dtype: object
df:2764
98    2020-11-11T18:33:32.000Z
Name: created_at, dtype: object
df:2861
96    2020-10-28T00:18:07.000Z
Name: created_at, dtype: object
df:2960
98    2020-10-10T07:04:54.000Z
Name: created_at, dtype: object
df:3056
95    2020-09-30T12:04:41.000Z
Name: created_at, dtype: object
df:3155
98    2020-08-26T16:01:15.000Z
Name: created_at, dtype: object
df:3254
98    2020-08-13T09:18:13.000Z
Name: created_at, dtype: object
df:3353
98    2020-08-07T21:40:06.000Z
Name: created_at, dtype: object
df:3448
94    2020-08-06T09:37:37.000Z
Name: created_at, dtype: object
df:3548
99    2020-07-20T06:30:02.000Z
Name: created_at, dtype: object
df:3644
95    2020-07-08T16:09:06.000Z
Name: created_at, dtype: object
df:3740
95    2020-06-23T07:16:01.000Z
Name: created_at, dtype: object
df:3840
99    2020-06-09T23:17:15.000Z
Name: created_at, dtype: object
df:3940
99    2020-05-28T16:06:01.000Z
Name: created_at, dtype: object
df:4040
99    2020-05-19T20:41:00.000Z
Name: created_at, dtype: object
df:4138
97    2020-05-13T10:35:05.000Z
Name: created_at, dtype: object
df:4237
98    2020-05-08T17:55:14.000Z
Name: created_at, dtype: object
df:4337
99    2020-05-06T23:01:06.000Z
Name: created_at, dtype: object
df:4433
95    2020-05-06T01:20:09.000Z
Name: created_at, dtype: object
df:4531
97    2020-04-02T14:46:28.000Z
Name: created_at, dtype: object
df:4631
99    2020-02-15T15:03:24.000Z
Name: created_at, dtype: object
df:4731
99    2020-01-20T21:27:20.000Z
Name: created_at, dtype: object
df:4808
76    2020-01-02T04:15:11.000Z
Name: created_at, dtype: object
df:100
99    2022-04-25T05:22:04.000Z
Name: created_at, dtype: object
df:200
99    2022-03-22T05:27:21.000Z
Name: created_at, dtype: object
df:299
98    2022-02-24T15:20:01.000Z
Name: created_at, dtype: object
df:399
99    2022-02-06T17:45:16.000Z
Name: created_at, dtype: object
df:498
98    2022-01-06T18:47:10.000Z
Name: created_at, dtype: object
df:596
97    2021-11-30T08:49:23.000Z
Name: created_at, dtype: object
df:696
99    2021-10-30T19:32:53.000Z
Name: created_at, dtype: object
df:794
97    2021-09-30T06:36:45.000Z
Name: created_at, dtype: object
df:893
98    2021-08-27T04:30:01.000Z
Name: created_at, dtype: object
df:992
98    2021-07-24T08:58:21.000Z
Name: created_at, dtype: object
df:1091
98    2021-06-21T16:18:59.000Z
Name: created_at, dtype: object
df:1189
97    2021-06-03T18:14:16.000Z
Name: created_at, dtype: object
df:1286
96    2021-05-07T19:00:00.000Z
Name: created_at, dtype: object
df:1384
97    2021-04-09T16:48:18.000Z
Name: created_at, dtype: object
df:1482
97    2021-03-23T07:04:38.000Z
Name: created_at, dtype: object
df:1582
99    2021-03-08T17:37:20.000Z
Name: created_at, dtype: object
df:1679
96    2021-02-21T09:29:41.000Z
Name: created_at, dtype: object
df:1773
93    2021-02-05T03:48:57.000Z
Name: created_at, dtype: object
df:1872
98    2021-01-14T10:20:01.000Z
Name: created_at, dtype: object
df:1972
99    2020-12-19T19:27:08.000Z
Name: created_at, dtype: object
df:2071
98    2020-11-25T10:19:38.000Z
Name: created_at, dtype: object
df:2170
98    2020-10-29T09:12:42.000Z
Name: created_at, dtype: object
df:2266
95    2020-10-13T17:25:02.000Z
Name: created_at, dtype: object
df:2364
97    2020-09-17T10:59:00.000Z
Name: created_at, dtype: object
df:2460
95    2020-08-29T13:24:39.000Z
Name: created_at, dtype: object
df:2559
98    2020-08-06T19:15:05.000Z
Name: created_at, dtype: object
df:2659
99    2020-07-13T16:35:19.000Z
Name: created_at, dtype: object
df:2757
97    2020-06-22T14:01:00.000Z
Name: created_at, dtype: object
df:2857
99    2020-06-08T14:09:43.000Z
Name: created_at, dtype: object
df:2956
98    2020-05-21T15:47:25.000Z
Name: created_at, dtype: object
df:3053
96    2020-05-03T23:56:43.000Z
Name: created_at, dtype: object
df:3150
96    2020-04-01T10:30:09.000Z
Name: created_at, dtype: object
df:3248
97    2020-02-07T16:52:41.000Z
Name: created_at, dtype: object
df:3346
97    2020-01-01T04:24:26.000Z
Name: created_at, dtype: object
df:99
98    2022-05-23T02:20:02.000Z
Name: created_at, dtype: object
df:199
99    2022-05-14T09:36:29.000Z
Name: created_at, dtype: object
df:299
99    2022-05-03T12:04:01.000Z
Name: created_at, dtype: object
df:399
99    2022-04-22T08:44:55.000Z
Name: created_at, dtype: object
df:498
98    2022-04-06T15:54:02.000Z
Name: created_at, dtype: object
df:598
99    2022-03-20T16:00:52.000Z
Name: created_at, dtype: object
df:698
99    2022-03-02T11:33:50.000Z
Name: created_at, dtype: object
df:798
99    2022-02-18T13:27:50.000Z
Name: created_at, dtype: object
df:898
99    2022-02-08T05:42:18.000Z
Name: created_at, dtype: object
df:998
99    2022-01-27T15:30:17.000Z
Name: created_at, dtype: object
df:1098
99    2022-01-15T13:30:00.000Z
Name: created_at, dtype: object
df:1198
99    2022-01-04T17:23:14.000Z
Name: created_at, dtype: object
df:1297
98    2021-12-10T02:17:00.000Z
Name: created_at, dtype: object
df:1397
99    2021-11-22T17:00:03.000Z
Name: created_at, dtype: object
df:1497
99    2021-11-18T16:49:44.000Z
Name: created_at, dtype: object
df:1597
99    2021-11-16T11:39:57.000Z
Name: created_at, dtype: object
df:1697
99    2021-11-06T08:20:01.000Z
Name: created_at, dtype: object
df:1797
99    2021-10-26T22:56:17.000Z
Name: created_at, dtype: object
df:1897
99    2021-09-28T21:00:02.000Z
Name: created_at, dtype: object
df:1997
99    2021-09-08T10:00:06.000Z
Name: created_at, dtype: object
df:2096
98    2021-08-16T15:00:28.000Z
Name: created_at, dtype: object
df:2196
99    2021-08-06T01:09:59.000Z
Name: created_at, dtype: object
df:2296
99    2021-08-04T09:05:06.000Z
Name: created_at, dtype: object
df:2396
99    2021-08-02T12:54:42.000Z
Name: created_at, dtype: object
df:2496
99    2021-07-31T22:35:03.000Z
Name: created_at, dtype: object
df:2596
99    2021-07-30T03:47:07.000Z
Name: created_at, dtype: object
df:2696
99    2021-07-28T01:35:03.000Z
Name: created_at, dtype: object
df:2796
99    2021-07-25T18:47:05.000Z
Name: created_at, dtype: object
df:2896
99    2021-07-23T03:29:06.000Z
Name: created_at, dtype: object
df:2996
99    2021-07-14T11:00:20.000Z
Name: created_at, dtype: object
df:3095
98    2021-06-28T15:31:08.000Z
Name: created_at, dtype: object
df:3191
95    2021-06-18T02:03:29.000Z
Name: created_at, dtype: object
df:3290
98    2021-06-08T04:38:48.000Z
Name: created_at, dtype: object
df:3389
98    2021-05-27T06:35:01.000Z
Name: created_at, dtype: object
df:3489
99    2021-05-20T07:47:52.000Z
Name: created_at, dtype: object
df:3588
98    2021-05-12T03:29:01.000Z
Name: created_at, dtype: object
df:3686
97    2021-05-05T11:37:49.000Z
Name: created_at, dtype: object
df:3780
93    2021-04-27T14:20:06.000Z
Name: created_at, dtype: object
df:3879
98    2021-04-10T16:38:42.000Z
Name: created_at, dtype: object
df:3977
97    2021-03-27T03:30:02.000Z
Name: created_at, dtype: object
df:4077
99    2021-03-12T19:01:48.000Z
Name: created_at, dtype: object
df:4176
98    2021-02-25T17:15:03.000Z
Name: created_at, dtype: object
df:4276
99    2021-02-18T01:23:18.000Z
Name: created_at, dtype: object
df:4376
99    2021-02-07T04:36:00.000Z
Name: created_at, dtype: object
df:4476
99    2021-01-28T21:12:09.000Z
Name: created_at, dtype: object
df:4576
99    2021-01-16T21:08:27.000Z
Name: created_at, dtype: object
df:4674
97    2021-01-04T15:28:54.000Z
Name: created_at, dtype: object
df:4773
98    2020-12-17T19:29:35.000Z
Name: created_at, dtype: object
df:4870
96    2020-12-08T13:17:07.000Z
Name: created_at, dtype: object
df:4970
99    2020-12-02T16:41:02.000Z
Name: created_at, dtype: object
df:5070
99    2020-11-21T07:53:03.000Z
Name: created_at, dtype: object
df:5170
99    2020-11-09T14:34:06.000Z
Name: created_at, dtype: object
df:5270
99    2020-10-26T18:09:20.000Z
Name: created_at, dtype: object
df:5370
99    2020-10-16T08:30:05.000Z

In [ ]:
all_files = glob.glob("/content/drive/My Drive/idub_mk/all/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0,lineterminator='\n')
    li.append(df)

dfm = pd.concat(li, axis=0, ignore_index=True)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
len(dfm)

256682

In [ ]:
len(dfm)

256682

In [ ]:
df=dfm

In [ ]:
def process(row):
    x=row['entities']
    try:
        y=eval(x)
        return y
    except:
        return 'zero'

In [ ]:
df['entities']=df.apply(lambda row: process(row), axis=1)

In [ ]:
df=df[(df['entities'].apply(lambda x: 'urls' in str(x))==True)]

In [ ]:
len(df)

256681

In [ ]:
df['url']=df['entities'].apply(lambda x: x['urls'])
df['url']=df['url'].apply(lambda x: x[0]['expanded_url'])

<ipython-input-13-3286e20dfe81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['url']=df['entities'].apply(lambda x: x['urls'])
<ipython-input-13-3286e20dfe81>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['url']=df['url'].apply(lambda x: x[0]['expanded_url'])

In [ ]:
len(df.drop_duplicates(subset=['url']))

146553

In [ ]:
df=df.drop_duplicates(subset=['url'])

In [ ]:
df['domain']=df['url'].str.extract('(?<=http://)(.*?)(?=/)|(?<=https://)(.*?)(?=/)')[1]
df['domain']=df['domain'].fillna(df['url'])

In [ ]:
df['domain'].value_counts()[:10]

bit.ly         14498
twitter.com    12774
paper.li        8943
lnkd.in         8178
ift.tt          3319
buff.ly         2272
t.eric.sn       2262
hubs.ly         1973
youtu.be        1397
stuf.in         1216
Name: domain, dtype: int64

In [ ]:
df_news=df[~df['domain'].isin(['lttr.ai','bit.ly','twitter.com','lnkd.in','paper.li','ift.tt','buff.ly','youtu.be','hubs.ly','stuf.in','www.youtube.com','zpr.io','tinyurl.com','t.her.is','hubs.li','t.eric.sn','hubs.la','trib.al','qoo.ly','www.linkedin.com'])]

In [ ]:
t=pd.DataFrame(df_news['domain'].value_counts()).reset_index()

In [ ]:
t[t['index'].str.contains('wired')]

                                                   index  domain
84                                         www.wired.com      95
393                                      www.wired.co.uk      21
917                                        wired.trib.al      10
2367                                            wired.me       4
5256                    www-wired-com.cdn.ampproject.org       2
19008  http://agwired.com/2021/07/07/excitement-growi...       1
22594  http://agwired.com/2020/01/09/promoting-sustai...       1
24456                             http://dpmd.ai/wired21       1

In [ ]:
df_news[df_news['domain'].str.contains('wired')]['url']

1540      https://www.wired.com/story/why-tesla-designin...
1958      https://www.wired.com/story/use-self-driving-c...
3499      https://www.wired.com/story/blackberry-is-plan...
4027      https://www.wired.com/story/company-uses-ai-ou...
4633      https://www.wired.com/story/tesla-model-x-auto...
                                ...
243236    https://www.wired.co.uk/partnerships/wired-sma...
244825    https://www.wired.com/story/geoengineering-is-...
245179    https://www.wired.co.uk/article/nuclear-batteries
253879    https://www.wired.com/story/cheap-nanoparticle...
254184    https://www.wired.com/2015/09/design-issue-fut...
Name: url, Length: 135, dtype: object

In [ ]:
201+517+1119+827+96+421+174+149+93+135

3732

In [ ]:
1119/3732

0.29983922829581994

In [ ]:
96/3732

0.02572347266881029

In [ ]:
len(df_news[df_news['domain'].str.contains('technologyreview')])

201

In [ ]:
len(df_news[df_news['domain'].str.contains('guardian')])

517

In [ ]:
len(df_news[df_news['domain'].str.contains('forbes')])

1119

In [ ]:
len(df_news[df_news['domain'].str.contains('nyt')])

827

In [ ]:
len(df_news[df_news['domain'].str.contains('cnet')])

96

In [ ]:
len(df_news[df_news['domain'].str.contains('techcrunch')])

421

In [ ]:
len(df_news[df_news['domain'].str.contains('verge')])

174

In [ ]:
len(df_news[df_news['domain'].str.contains('venturebeat')])

149

In [ ]:
len(df_news[df_news['domain'].str.contains('zdnet')])

93

In [ ]:
len(df_news[df_news['domain'].str.contains('wired')])

135